@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,YTLC@6..12,440..540&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@0,6..12,600;1,6..12,600&display=swap');

h1, h2, h3, h4, strong{
    font-family: "Nunito Sans", sans-serif ;
    font-weight: 600;
}

p, a, small, textarea, input, address{
    font-family: "Nunito Sans", sans-serif ;
    font-weight: 400;
}

.scroll-btn{
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #298eff;
}

.arrow{
    height: 15px;
}